<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/1200px-Lamborghini_Logo.svg.png"  width="500" height="495"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lamboghini</h5>
        <p class="card-text">Parterned with Lamboghini.</p>
      </div>
      <div class="card-body">
    <a href="https://www.lamborghini.com/en-en" class="card-link">Visit Site</a>
    <a href="https://www.carwale.com/lamborghini-cars/" class="card-link">Check prices in India</a>
  </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/2048px-BMW.svg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BMW</h5>
        <p class="card-text">Parterned with BMW.</p>
      </div>
      <div class="card-body">
    <a href="https://www.bmw.in/en/index.html" class="card-link">Visit Site</a>
    <a href="https://www.carwale.com/bmw-cars/" class="card-link">Check prices in India</a>
  </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://pngimg.com/d/porsche_logo_PNG1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Porsche</h5>
        <p class="card-text">Parterned with Porsche.</p>
      </div>
      <div class="card-body">
    <a href="https://www.bmw.in/en/index.html" class="card-link">Visit Site</a>
    <a href="https://www.carwale.com/bmw-cars/" class="card-link">Check prices in India</a>
  </div>
       </div>
      
    </div>
  </div>
  
</div>