<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://4kwallpapers.com/images/wallpapers/lamborghini-3440x1440-11123.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://c.wallhere.com/photos/2a/d0/car_white_cars_white_pink-2190587.jpg!d" class="d-block w-100" alt="...">
    </div>
    
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/1b/b1/53/1bb153b825fc44cfd1628698ef586337.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="carousel-item">
      <img src="https://a-static.besthdwallpaper.com/white-nissan-skyline-gt-r-r34-at-night-wallpaper-3440x1440-81912_15.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="carousel-item">
      <img src="https://a-static.besthdwallpaper.com/nissan-skyline-gt-r-at-sunset-wallpaper-3440x1440-81901_15.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>